<%- include('partials/header'); -%>
<header class="section-dark">
	<nav class="nav container">
		<div class="logo">
			<h3 class="brand__logo fz-1_35 txt-f line">Ahmed Ashraf</h3>
		</div>
		<ul class="nav__list">
			<li class="nav__items">
				<a href="" class="nav__links fz-1_35 txt-f line">Sign In</a>
			</li>
			<li class="nav__items">
				<a href="" class="nav__links fz-1_35 txt-f about-btn">Blog</a>
			</li>
		</ul>
	</nav>
</header>
<section class="hero section-dark txt-f">
	<div class="container flex-hero">
		<h3 class="hero__title">Welcome To Ahmed Blog Post</h3>
		<h4 class="hero__info fz-1_35 mb-txt line">Full Stack Web Developer</h4>
		<div class="hero__info fz-1_35 mb-txt line">Content Creator</div>
		<button class="about-btn fz-1_35 txt-f">About Me</button>
	</div>
</section>
<section class="blog">
	<div class="container txt-f">
		<h3 class="blog__title">Blog Post</h3>
		<a class="blog-container" href="/articles">
			<div class="text-wrap">
				<h1 class="blog__title">My experience learning to make a blog Post</h1>
				<p class="blog-para mb-2">
					In this blog i document how i learned blog post posting in 3 days and
					notice i am a new Developer
				</p>
				<p class="fz-1_35 line">Continue Reading</p>
			</div>
		</a>
	</div>
</section>

<section class="grid">
	<div class="container">
		<div class="grid-ish">
			<div class="card blue">
				<h3 class="card__title">Show Off</h3>
				<p class="card__para">Your Skills</p>
			</div>
			<div class="card">
				<h3 class="card__title">Show Off</h3>
				<p class="card__para">Your Money</p>
			</div>
			<div class="card">
				<h3 class="card__title">Show Off</h3>
				<p class="card__para">Your House</p>
			</div>
			<div class="card">
				<h3 class="card__title">Show Off</h3>
				<p class="card__para">Accomplishments</p>
			</div>
			<div class="card green">
				<h3 class="card__title">Show Off</h3>
				<p class="card__para">Your Discovers</p>
			</div>
		</div>
	</div>
</section>
<%- include('partials/footer'); -%>
